h2 {
  font-weight: bold;
  color: white;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2b3e51;
  border: 2px solid #006333;
  background-color: #101511;
  width: 70%;
  max-width: 400px;
  height: fit-content;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

.login-container > #logo {
  width: 80px;
}

.login-form > input {
  width: 80%;
  height: 40px;
  padding: 0 1rem;
  border: 2px solid #636864;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.3s ease;
  margin-top: 20px;
}

.login-form > button {
  width: 30%;
  height: 30px;
  min-width: fit-content;
  padding: 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: #006333;
  color: white;
  margin-top: 20px;
}

.login-form > button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  background-color: #00351b;
}

.login-form > input::placeholder {
  color: #636864;
}

.login-form > input::placeholder {
  color: #636864;
}

.login-form > input:focus,
input:hover {
  outline: none;
  border-color: #006333;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
