.table {
  height: fit-content;
  width: 70%;
  min-width: fit-content;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 auto;
}

.table > div {
  color: white;
  font-size: 16px;
  padding: 10px;
}

.table > div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.table > div:nth-child(odd) {
  background-color: #181d19;
}

.table > div:nth-child(even) {
  background-color: #393e3a;
}

.table > div:nth-child(odd):hover,
.table > div:nth-child(even):hover {
  cursor: pointer;
  background: #00351b;
}

.table > div:first-child:hover {
  cursor: default;
  background-color: #181d19;
}
