#sidebar {
  background-color: #101511;
  height: 100vh;
  width: 70px;
  position: fixed;
  overflow: hidden;
  text-align: center;
  outline: 2px solid #242925;
}

#sidebar > #logo {
  width: 50px;
  margin: 15px auto 10px auto;
  cursor: pointer;
}

#sidebar > .separator {
  height: 2px;
  width: 80%;
  background-color: #242925;
  margin: 0 auto;
}

#sidebar > .item {
  height: 40px;
  width: 40px;
  margin: 15px;
}

#sidebar > .item:hover {
  background-color: #04f781;
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 15px;
}

#sidebar > .item > box-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sidebar > .item > {
  background-color: red;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 15px;
}

#sidebar > .item:last-child {
  position: absolute;
  margin: 0;
  left: 35px;
  transform: translateX(-50%);
  bottom: 10px;
}
