.table {
  height: fit-content;
  width: 70%;
  min-width: fit-content;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

.table > div {
  color: white;
  font-size: 16px;
  padding: 10px;
}

.table > div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.table > div:nth-child(odd) {
  background-color: #181d19;
}

.table > div:nth-child(even) {
  background-color: #393e3a;
}

.table > div:nth-child(odd):hover,
.table > div:nth-child(even):hover {
  cursor: pointer;
  background: #00351b;
}

.table > div:first-child:hover {
  cursor: default;
  background-color: #181d19;
}

.table .icon {
  position: absolute;
  right: 15%;
  transform: translate(10px, -10px);
  color: #636864;
  border-radius: 20px;
  padding: 10px;
}

.table .icon:hover {
  color: #00351b;
  background-color: #636864;
  cursor: pointer;
}

.cursor-default,
.cursor-default:hover {
  cursor: default !important;
}
